<div class="content-wrapper">
    <div class="auth-wrapper z-depth-3">
        <div class="row">
            <form action="auth/login/" method="post" class="form col s12">
                <div class="row">
                    <div class="col s12 auth-title">
                        <p class="auth-title__text">Авторизация</p>
                    </div>
                    <div class="input-field col s12">
                        <input name="username" type="text" id="username-input">
                        <label for="username-input">Введите имя пользователя</label>
                    </div>
                    <div class="input-field col s12">
                        <input name="password" type="password" id="password-input">
                        <label for="password-input">Введите пароль пользователя</label>
                    </div>
                    <div class="col s12">
                        <button id="loginButton" class="btn">Войти</button>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>



<script src="/login.js"></script>